*{
	font-family: 'Press Start 2P', cursive;
	color: white;
}

#mainBody{
	margin-top: 60px;
	background: black;
}

#mainCanvas{
	margin-top: 30px;
	width: 90%;
	height: 80%;
	border: 4px solid white;
}

#soundImg{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}

#statusBar{
	margin-top: 0px;
}

#heart1, #heart2, #heart3{
	width: 80px;
	height: 80px;
}

#score{
	font-size: 28px;
	position: relative;
	width: 80px;
	height: 80px;
	left: 50%;
	top: -20px;
}

#time{
	font-size: 28px;
	position: relative;
	width: 80px;
	height: 80px;
	left: 50%;
	top: -20px;
}

#runner{
	background-color: red;
	border-radius: 50%;
}

#flyer{
	background-color: yellow;
	border-radius: 50%;
}

#shooter{
	background-color: green;
	border-radius: 50%;
}

#enemyBullet{
	background-color: blue;
}
